# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Production build folders
/frontend/build

# Environment files
.env
backend/.env

# Log files
*.log
npm-debug.log

# System files
.DS_Store